extends layout

block scripts
  script(src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
  script
    var changeExample = function(x){
      $('.example').hide();
      $("#example"+x).show();
    };

block content
  #highlights
    each highlight in contents.highlights
      .span3!= highlight.html

block subcontent
  #examples
    - var style;
    - var id;
    - var i;
    .row
      .span9
        - i = 0;
        each example in contents.examples
          - if (i > 0) {
          -  style = "display: none;";
          - } else {
          -  style = "display: block;";
          -}
          - id = "example"+i;
          - ++i;
          .example(style=style,id=id)
            .row
              .span9.card-title
                h4.title= "--> " +  example.title + ":"
            .row.card-content
              p.span3.story= example.metadata.story        
              .span6!= example.html
            img.span9(src="./images/card_shadow.png")
      .span3#examplesLinks
        - i = 0;
        each example in contents.examples
          p(onmouseover="changeExample(#{i});")= example.title
          - ++i;