!!! 5
html#jet(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width')
      meta(name='description', content=locals.description)
      meta(name='keywords', content=locals.keywords.join(','))
      meta(property='og:title', content=locals.title)
      meta(property='og:url', content=locals.url)
      meta(property='og:description', content=locals.description)
      meta(property='og:type', content='website')
      link(rel='stylesheet', href='css/bootstrap.min.css', media='screen')
      link(href='http://fonts.googleapis.com/css?family=Special+Elite', rel='stylesheet', type='text/css')
      link(rel='stylesheet', href='css/custom.css')
      title local.title
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-42875905-1', 'lipp.github.io');
        ga('send', 'pageview');

  .border-top
  body
    header.container
      include logo
      include nav
    
    section.container
      block body
        p Nothing to see here, move along.

    footer.container
      include footer
        
  .border-bottom